# Miscellaneous
*.class
*.log
*.pyc
*.swp
.DS_Store
.atom/
.build/
.buildlog/
.history
.svn/

# IntelliJ related
*.iml
*.ipr
*.iws
.idea/

# Flutter/Dart/Pub related
**/doc/api/
.dart_tool/
.flutter-plugins*
.pub-cache/
.pub/
build/
coverage/

# Android related
**/android/.gradle/
**/android/captures/
**/android/local.properties
**/android/app/debug
**/android/app/profile
**/android/app/release
**/android/app/build/

# iOS/macOS related
**/ios/Pods/
**/ios/.symlinks/
**/ios/Flutter/Generated.xcconfig
**/ios/Flutter/flutter_export_environment.sh
**/ios/Flutter/ephemeral/
**/ios/Flutter/Flutter.framework
**/ios/Flutter/Flutter.podspec
**/ios/Runner/GeneratedPluginRegistrant.*
**/DerivedData/
**/xcuserdata/
*.xcscmblueprint
*.xcuserstate
